<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=65e39647-12b1-4d32-9f2b-ab290004c4e6.sqlserver.sequelizer.com;Database=db65e3964712b14d329f2bab290004c4e6;User ID=btttcqkqbvmikmjz;Password=LPhuZUptcYLprxw5RkdRJbhiRXdzwTJHMwv5opQqEzSoaiwMCGJoyLtKG8LbRX5r;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
